body{
    background-color: #FFFDF1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #562F00;
}
nav{
    display: flex;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
}
ul{
    padding-inline-start: 0;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color: #FF9644 ;
    border-radius: 10%;
    max-width: 30%;
}
a{
    text-decoration: none;
    color: #562F00;
    font-size:large;
    font-weight: bold;
}
h2{
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
p{
    margin: 0;
    width: 100%;
    padding: 1%;
}
.cabeca{
    background-color: #FFCE99;
    padding: 10px;
    text-align: center;
}
.foto_header{
    width: 100%;
    border-radius: 2%;
}
.conteudo{
    background: #FFCE99;
    padding: 20px;
    margin: 10px 0 0 0;
    display: flex;
}
.foto{
    width: 90%;
    padding: 5%;
    border-radius: 10%;
    background-color: #FF9644;
    min-width: 20%;
}